<link rel="stylesheet" type="text/css" href="../../public/css/namecard.css">
<div class = "namecard_outer_box" >
	<table>
		<tbody>
			<tr>
			<th>
				<div>
					<img class="namecard_image" src="../../public/image/profile.jpg" />
				</div>
				<div>
					<img src = "../../public/image/like.png" height = "25" width="25"></img> 

				</div>
			</th>
			<td class ="namecard_td">
				<div class="namecard_name">보노보노</div>
				<div class="namecard_content">
					<table>
						<tbody>
							<tr>
								<th>
								학번 : 
								</th>
								<td>
								2015410019
								</td>
							</tr>
						</tbody>
					</table>
					<table>
						<tbody>
							<tr>
								<th>
								생일 : 
								</th>
								<td>
								12월 23일
								</td>
							</tr>
						</tbody>
					</table>
					<table>
						<tbody>
							<tr>
								<th>
								정회원 스터디 : 
								</th>
								<td>
								React.js
								</td>
							</tr>
						</tbody>
					</table>
					<table>
						<tbody>
							<tr>
								<th>
								회원상태 :
								</th>
								<td>
								휴회원
								</td>
							</tr>
						</tbody>
					</table>
					<table>
						<tbody>
							<tr>
								<th>
								직위 : 
								</th>
								<td>
								일개 정회원
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
			</tr>
		</tbody>
	</table>
</div>